<div class="footer">
    <div class="container">
        <p class="footer__p--copyright">Open Window Media &copy; 2020</p>
        <div class="fab-wrapper text-right">
            <a href="https://www.instagram.com/mattcordier/" class="footer__a--social" target="_blank">
                <span><i class="fab fa-instagram"></i></span>
            </a>
            <a href="https://www.facebook.com/matt.cordier.756" class="footer__a--social" target="_blank">
                <span><i class="fab fa-facebook"></i></span>
            </a>
            <a href="https://www.youtube.com/channel/UClsr20zPKqUp_PIzQ7f97Mw" class="footer__a--social" target="_blank">
                <span><i class="fab fa-youtube-square"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/mattcordier/" class="footer__a--social" target="_blank">
                <span><i class="fab fa-linkedin"></i></span>
            </a>    
        </div>
    </div>
</div>