.about-page {
	background: url('/public/img/bass-drum-diagram.png') no-repeat bottom right fixed; 
	background-color: #3a3a43;

	@media (max-width: $screen-xs-max) {
		background-image: none;
	}

	.about-page--wrapper {
		color: #fff;
		text-align: center;
		background-color: rgba(33, 33, 38, .8);
		padding: 15px 20px;
		border-radius: 15px;	
		margin: 0 auto 5em;

		@media (max-width: $screen-xs-max) {
			background-color: transparent;
		}

		.about-page__img {
			margin: 1.5em auto;
			border-radius: 15px;

			@media (max-width: $screen-sm-max) {
				margin-top: .5em;
			}			
		}

		.about-page__p {
			font-size: 1.125em;
			font-weight: 100;
			line-height: 1.75;
			text-align: left;

			@media (max-width: $screen-md-max) {
				padding: 0 10px;
			}

			@media (max-width: 425px) {
				padding: 0;
			}	
		}// .about-page__p

		.about-page__p--quote {
			margin-bottom: 1em;
			font-weight: 100;
		}

		hr {
			display: block;
	    height: 1px;
	    border: 0;
	    border-top: 2px solid #755d64;
	    margin: 1em 0;
	    padding: 0;
		}
	}// .about-page--wrapper	
}// .about-page	