@import "variables.scss";

// ------ BASE SETUP ------ //

body {
  // set what 1em is equal to (default is 16px) and scale
  // down for screens
  color: #203754; 
  font-size: 16px;
  letter-spacing: 2px;

  @media (max-width: $screen-md-max) { 
    font-size: 14px;
  }
  @media (max-width: $screen-sm-max) { 
    font-size: 14px;
  }
  @media (max-width: $screen-xs-max) { 
    font-size: 14px;
  }

}
 
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  overflow-y: auto;
}

audio {
  width: 250px;
  height: 25px;
}

.nowrap {
  white-space: nowrap;
}

.learn-to-groove-nav.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  color: #203754;
  font-size: 2.5em;
  padding: 1.5rem 1.5rem 0;

  @media (max-width: $screen-xs-max) {
    font-size: 1.75em;
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}


.navbar-brand:hover {
  color: lighten(#203754, 5%); 
}

.nav>li>a {
  color: #203754;
}

.nav>li>a:focus, 
.nav>li>a:hover {
  color: lighten(#203754, 50%); 
  background-color: transparent;
}

.nav>li>a.active {
  color: #e63933;
}

.footer {
  background-color: #203754;
  color: #FFF;
  padding: 2rem 0 1rem;
  
  .container {
    display: flex;
  }

  .footer__p--copyright {
    display: inline-block;
  }

  .fab-wrapper {
    display: inline-block;
    flex-grow: 1;
  }

  .fab {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 5px;
  }
}
