/*----- Free Lesson ------*/

.free-lesson {
	color: #203754;

	/*----- Free Lesson Hero ------*/
	.free-lesson-hero {
    background: #2f0e15;
		background-image:url('../img/free-lesson/free-lesson-bg.jpg') no-repeat center center;
		background:url('../img/free-lesson/free-lesson-bg.jpg') no-repeat center center, linear-gradient(to right, #2f0e15 1%, #203754 100%);
		background-size: cover;
		padding: 3em 1em;
		margin-bottom: 4em;

		@media (max-width: $screen-xs-max) {
			padding: 1em .15em 2em;
		}
	}//.free-lesson-hero

	.free-lesson__div--offer {
		background-color: rgba(0, 0, 0, .7 );
		color: #FFF;
		padding: .5em;
		border: 2px solid #203756;
		border-radius: 10px;
		padding: 40px 20px;
		margin: .5em 0 .25em;

		@media (max-width: $screen-xs-max) {
			padding: 20px 15px;
		}
	}

	.free-lesson__h1 {
		text-align: center;
		font-size: 3em;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 20px;

		@media (max-width: $screen-sm-max) {
			font-size: 2.5em;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 2.25em;
		}
		@media (max-width: 375px) {
			font-size: 1.85em;
		}
	}//.free-lesson__h1

	.free-lesson__h1--thank-you {
		@extend .free-lesson__h1;
		font-size: 2.5em;
		@media (max-width: $screen-xs-max) {
			font-size: 2.25em;
		}
		@media (max-width: 375px) {
			font-size: 1.85em;
		}
	}//.free-lesson__h1--thank-you

	.free-lesson__p--thank-you {
		text-align: center;
		font-size: 1.5em;
	}

	.free-lesson__p--process {
		text-align: center;
		color: #ffd000;
		font-size: 1.25em;
		font-weight: 500;
		font-style: italic;
		margin-bottom: 2em;
	}

	.free-lesson__p--limited {
		@extend .free-lesson__p--process;
		text-align: left;
		font-size: .85em;
		margin-top: 15px;
	} 

	.free-lesson__p--error {
		@extend .free-lesson__p--limited;
		display: inline-block;
		background-color: #FFF;
		color: #cc0000;
		padding: 5px;
		border-radius: 5px;
	}

	.free-lesson__img--hero {
		border: 1px solid #ffd000;
		border-radius: 10px;
		margin: 1em auto;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 2em;
		}
	}

	.free-lesson-form__div {
		max-width: 395px;
		margin-top: 2em;
		@media (max-width: $screen-sm-max) {
			margin: 1em auto;
		}
	}

	.form-control {
		font-size: 1.125em;
		height: 45px;
		margin-bottom: 20px;
	}

	.free-lesson__btn {
		background-color: #e63933;
		color: #FFF;
		font-size: 1.5em;
		font-weight: 700;
		padding: 10px 20px;
		border: 0px;
		border-radius: 5px;
		margin-top: .5em;

		&:hover {
			background-color: darken(#e63933, 10%);
		}
	}

	.btn-subtext {
		font-size: 1em;
		margin-top: 10px;
	}

	/*----- Three Steps ------*/
	.three-steps {
		padding-bottom: 30px;
		margin-bottom: 4em;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 1em;
		}
	}//.three-steps

	.three-steps__h2 {
		font-size: 2.5em;
		font-weight: 700;
		margin-bottom: 2em;

		@media (max-width: $screen-xs-max) {
			font-size: 2.15em;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}//.three-steps__h2

	.three-steps__h2--testimony {
		font-weight: 700;
		margin-top: 3.5em;

		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}//.three-steps__h2--testimony 

	.three-steps__p--testimony {
		margin-bottom: 3em;
	}

	.three-steps__icon {
		display: block;
		text-align: center;
		font-size: 100px;
		margin-bottom: 40px;
	}

	.three-steps__p--title {
		text-align: center;
		color: #e63933;
		font-size: 1.125em;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.three-steps__p--detail {
		text-align: center;
		margin-bottom: 5em;
	} 

	/*----- Your Coach ------*/
	.your-coach {
		background-color: #F2F4F5;
		padding: 20px 0 60px;

		@media (max-width: $screen-xs-max) {
			padding: 15px 0;
		}
	}

	.your-coach__div--card {
		background-color: #FFF;
		border-radius: 10px;
		padding:0px;
		margin: 4em auto;
		box-shadow: 0 0 15px rgba(0,0,0,0.1);

		@media (max-width: $screen-sm-max) {
			padding: 40px 20px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 0 0 20px;
		}
	}

	.your-coach__img {
		width: 600px;
		border-radius: 0px 10px 10px 0px;

		@media (max-width: $screen-sm-max) {
			border-radius: 10px;
			margin: 2em auto 10px;
		}
		@media (max-width: $screen-xs-max) {
			border-radius: 10px 10px 0px 0px;
			margin-top: 0;
		}

		@media (max-width: 424px) {
			width: 100%;
			height: auto;
		}
	}//.your-coach__img

	.your-coach__caption {
		font-size: 1em;
		font-weight: 500;

		&.profile {
			@media (max-width: $screen-sm-max) {
				margin-bottom: 2em;
			}
		}
	}

	.your-coach__row--steps {
		background-color: #F2F4F5;
		margin-bottom: 40px;
		border-radius: 10px;

		&:last-of-type {
			margin-bottom: 0;
			background-color: transparent;
		}
	}

	.your-coach__img--steps {
		max-width: 125px;
		border: 1px solid #e63933;
		border-radius: 10px;
		margin: 1em auto;
	}

	.your-coach__div--info {
		padding: 0 10px 0 40px;

		@media (max-width: $screen-xs-max) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.your-coach__h2 {
		font-size: 2.25em;
		font-weight: 700;
		margin-top: 1em;
		margin-bottom: 0;

		@media (max-width: $screen-md-max) {
			margin-top: .75em;
		}
	}

	.your-coach__p {
		font-size: 1.125em;
		font-weight: 500;
		margin-bottom: 1.25em;
		line-height: 1.5;
	}

	.your-coach__p--title {
		font-size: 1.25em;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.steps__h2 {
		margin-top: 1em;
		font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
	}

	.your-coach__p--signature {
		font-size: 3em;
		font-weight: 700;
		font-style: italic;
	}

	/*----- Social ------*/

	.social__h2 {
		font-size: 2em;
		font-weight: 700;
		margin-top: 0;

		@media (max-width: $screen-sm-max) {
			font-size: 1.75em;
		}
	}//.social__h2

	.social__icon {
		display: inline-block;
		color: #e63933;
		font-size: 65px;
		margin: .125em .25em;

		&:hover {
			text-decoration: none;
			color: darken(#e63933, 15%);
		}

		@media (max-width: $screen-sm-max) {
			margin-bottom: 1em;
		}
	}


}//.free-lesson