/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  position: relative;
  min-height: 100vh;
  background-color: $dark;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $light;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
#root,
#__next {
  isolation: isolate;
}

.no-wrap {
  white-space: nowrap;
}

a {
  color: $accent;
  font-weight: bold;

  &:hover {
    color: $dark;
  }
}
