/*----- Free Lesson ------*/

.home-page {
	color: #203754; 

	/*----- Free Lesson Hero ------*/
	.home-page-hero {
    	background: #2f0e15;
		background-image:url('../img/home-page/home-page-bg.jpg') no-repeat center center;
		background:url('../img/home-page/home-page-bg.jpg') no-repeat center center, linear-gradient(to right, #2f0e15 1%, #203754 100%);
		background-size: cover;
		margin-bottom: 4em;
		
	}//.home-page-hero

	.home-page__div {
		background-color: rgba(0, 0, 0, .45 );
		color: #FFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3rem ;
		min-height: 300px;

		@media (max-width: $screen-xs-max) {
			padding: 20px 15px;
		}
	}

	.home-page__h1 {
		text-align: center;
		font-size: 3em;
		font-weight: 700;
		line-height: 1.2;
		margin: 0 0 20px;

		@media (max-width: $screen-sm-max) {
			font-size: 2.5em;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 2.25em;
		}
		@media (max-width: 375px) {
			font-size: 1.85em;
		}
	}//.home-page__h1



	.home-page__p--process {
		max-width: 600px;
		text-align: center;
		color: #ffd000;
		font-size: 1.5em;
		font-weight: 500;
		font-style: italic;
		margin:0 auto;
	}

	.home-page__p--limited {
		@extend .home-page__p--process;
		text-align: left;
		font-size: .85em;
		margin-top: 15px;
	} 

	/*---- Form Handling----*/

	.home-page__p--error {
		@extend .home-page__p--limited;
		display: inline-block;
		background-color: #FFF;
		color: #cc0000;
		padding: 5px;
		border-radius: 5px;
	}

	.success__div {
		max-width: 395px; 
		min-height: 330px;
		text-align: center;
		color: #FFF;  
		border: 2px solid #00AB4F;
		border-radius: 10px;
		padding: 15px;
		margin-top: 1em;
		margin-left: -2em;

		@media (max-width: $screen-md-max) {
			margin-left: 0;
		}
		@media (max-width: $screen-sm-max) {
			margin: 1em auto;
		}
	}//.success__div



	.success__icon {
		color: #00AB4F;
		font-size: 50px;
	}

	.success__p--confirm {
		font-size: 1.25em;
		font-weight: 700;
		margin-top: 10px;
	}

	.success__p {
		font-size: 1.25em; 
	}

	.success__p--contact {
		font-size: 1em; 
		margin-top: 1em; 
		margin-bottom: 1em;
	}

	.home-page__img--hero {
		border: 1px solid #ffd000;
		border-radius: 10px;
		margin: 1em auto;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 2em;
		}
	}

	.home-page-form__div {
		max-width: 395px;
		margin-top: 2em;
		@media (max-width: $screen-sm-max) {
			margin: 1em auto;
		}
	}

	.form-control {
		font-size: 1.125em;
		height: 45px;
		margin-bottom: 20px;
	}

	.home-page__btn {
		background-color: #e63933;
		color: #FFF;
		font-size: 1.5em;
		font-weight: 700;
		padding: 10px 20px;
		border: 0px;
		border-radius: 5px;
		margin-top: .5em;

		&:hover {
			background-color: darken(#e63933, 10%);
		}
	}

	.btn-subtext {
		font-size: 1em;
		margin-top: 10px;
	}

	/*----- Three Steps ------*/
	.three-steps {
		padding-bottom: 30px;
		margin-bottom: 4em;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 1em;
		}
	}//.three-steps

	.three-steps__h2 {
		font-size: 2.5em;
		font-weight: 700;
		margin-bottom: 2em;

		@media (max-width: $screen-xs-max) {
			font-size: 2.15em;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}//.three-steps__h2

	.three-steps__h2--testimony {
		font-weight: 700;
		margin-top: 3.5em;

		@media (max-width: $screen-xs-max) {
			font-size: 1.5em;
		}
	}//.three-steps__h2--testimony 

	.three-steps__p--testimony {
		margin-bottom: 3em;
	}

	.three-steps__icon {
		display: block;
		text-align: center;
		font-size: 100px;
		margin-bottom: 40px;
	}

	.three-steps__p--title {
		text-align: center;
		color: #e63933;
		font-size: 1.125em;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.three-steps__p--detail {
		text-align: center;
		margin-bottom: 5em;
	} 

	/*----- Your Coach ------*/
	.your-coach {
		background-color: #F2F4F5;
		padding: 20px 0 60px;

		@media (max-width: $screen-xs-max) {
			padding: 15px 0;
		}
	}

	.your-coach__div--card {
		background-color: #FFF;
		border-radius: 10px;
		padding:0px;
		margin: 4em auto;
		box-shadow: 0 0 15px rgba(0,0,0,0.1);

		@media (max-width: $screen-sm-max) {
			padding: 40px 20px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 0 0 20px;
		}
	}

	.your-coach__img {
		width: 600px;
		border-radius: 0px 10px 10px 0px;

		@media (max-width: $screen-sm-max) {
			border-radius: 10px;
			margin: 2em auto 10px;
		}
		@media (max-width: $screen-xs-max) {
			border-radius: 10px 10px 0px 0px;
			margin-top: 0;
		}

		@media (max-width: 424px) {
			width: 100%;
			height: auto;
		}
	}//.your-coach__img

	.your-coach__caption {
		font-size: 1em;
		font-weight: 500;

		&.profile {
			@media (max-width: $screen-sm-max) {
				margin-bottom: 2em;
			}
		}
	}

	.your-coach__row--steps {
		background-color: #F2F4F5;
		margin-bottom: 40px;
		border-radius: 10px;

		&:last-of-type {
			margin-bottom: 0;
			background-color: transparent;
		}
	}

	.your-coach__img--steps {
		max-width: 125px;
		border: 1px solid #e63933;
		border-radius: 10px;
		margin: 1em auto;
	}

	.your-coach__div--info {
		padding: 0 10px 0 40px;

		@media (max-width: $screen-xs-max) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.your-coach__h2 {
		font-size: 2.25em;
		font-weight: 700;
		margin-top: 1em;
		margin-bottom: 0;

		@media (max-width: $screen-md-max) {
			margin-top: .75em;
		}
	}

	.your-coach__p {
		font-size: 1.125em;
		font-weight: 500;
		margin-bottom: 1.25em;
		line-height: 1.5;
	}

	.your-coach__p--title {
		font-size: 1.25em;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.steps__h2 {
		margin-top: 1em;
		font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
	}

	.your-coach__p--signature {
		font-size: 3em;
		font-weight: 700;
		font-style: italic;
	}

	/*----- Social ------*/

	.social__h2 {
		font-size: 2em;
		font-weight: 700;
		margin-top: 0;

		@media (max-width: $screen-sm-max) {
			font-size: 1.75em;
		}
	}//.social__h2

	.social__icon {
		display: inline-block;
		color: #e63933;
		font-size: 25px;
		margin: .125em .25em;

		&:hover {
			text-decoration: none;
			color: darken(#e63933, 15%);
		}

		@media (max-width: $screen-sm-max) {
			margin-bottom: 1em;
		}
	}


}//.home-page

// .home-page {
// 	background: url('/public/img/snare-diagram.png') no-repeat center left fixed; 
// 	background-color: #3a3a43;

// 	.home-page--wrapper {
// 		color: #fff;
		
// 		.home-page__div--title-wrap {
// 			position: fixed;
// 		  top: 50%;
// 		  left: 50%;
// 		  transform: translate(-50%, -50%);
// 			background-color: rgba(33, 33, 38, .8);
// 			padding: 15px 20px;
// 			border-radius: 15px;
// 			margin: 0 auto;

// 			@media (max-width: $screen-xs-max) {
// 				background-color: rgba(33, 33, 38, 1);
// 			}
			
// 			.title__h1 {
// 				font-size: 4em;
// 				font-weight: 400;
// 				line-height: .9;
// 				margin: 0 0 .25em;
// 		 	}

// 		 	.title__p {
// 		 		font-size: 1.125em;
// 				font-weight: 100;
// 				margin: 0;
// 		 	}
// 		}// .home-page__div--title-wrap	
// 	}// .home-page--wrapper
// }// .home-page