.media-page {
	background: url('/public/img/cymbal-stand-diagram.png') no-repeat bottom right fixed; 

	@media (max-width: $screen-xs-max) {
		background-image: none;
	}

	.media-page--wrapper {

		color: #fff;
		background-color: rgba(32, 55, 84, .9);
		padding: 15px 20px;
		border-radius: 15px;	
		margin: 4em auto;

		.media-container {
			text-align: center;
			position:relative;
			height:0;
			overflow:hidden;
			padding-bottom:56.25%;
			padding-top:30px;
			border-radius: 10px;
			border: 1px solid #755d64;
			margin: 2em;

			@media (max-width: $screen-xs-max) {
				margin: 0 0 3rem;
			}

		}// .media-container

		.media-container iframe, 
		.media-container object, 
		.media-container embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
			
		.media__p {
			text-align: center;
			font-size: 1.5em;
			margin-top: 2em;

			@media (max-width: $screen-sm-max) {
				margin-top: 1rem;
			}
		}
	}// .media-page--wrapper
}// .media-page
